*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-box {
  min-width: 100%;
  height: 100vh;
  margin: 0vw;
  position: relative;
}
.form-box label {
  display: block;
  text-align: left;
  margin: 20px 0px 0px 0px;
}
.form-box input {
  display: block;
  width: 100%;
  margin: 20px 0px 0px 0px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
}
.form-box button {
  margin: 20px 0px;
}
.form-box .error {
  color: red;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}